[View in Colaboratory](https://colab.research.google.com/github/jenna1k/Datascience_self/blob/master/1_Python_Tutorial_hs_comment_(1).ipynb)

# 파이썬(Python) 튜토리얼

파이썬은 프로그래밍을 처음 접하는 분들 입장에서는 가장 쉽게 배울 수 있는 프로그래밍 언어 중 하나입니다. 파이썬은 고레벨 프로그래밍 언어(High-Level Programming Language)이기 때문에, 일반인이 보유하고 있는 기초 상식과 직관에 가능한 일치하도록 구현되어 있습니다.

In [0]:
# 덧셈
1 + 1

2

In [0]:
# 뺄셈
7 - 4

3

하지만 파이썬이 언제나 인간의 직관과 상식에 정확하게 일치하도록 동작하는 것은 아닙니다. 다음의 예시를 통해 이를 확인할 수 있습니다.

In [0]:
# 곱셈. 3 x 4는 알파벳 엑스(x)와 헷갈릴 수 있기 때문에, 코드를 명시적으로 작성하기 위해 별표(*)로 대체합니다.
3 * 4

12

In [0]:
# 나눗셈. 나눗셈 기호(÷)는 키보드에 없기 때문에, 편의를 위해 슬래시(/)로 대체합니다.
3 / 2

1.5

파이썬은 덧셈, 뺄셈, 곱셈, 나눗셈 외에도 나머지 연산(%)을 지원합니다.

In [0]:
# 13에서 5를 나눈 나머지(%)는 3이 된다.
13 % 5

3

파이썬은 등호 두 개(==)를 통해 왼쪽과 오른쪽의 결과를 비교할 수 있습니다. (등호 하나(=)는 변수에 값을 할당하는 용도로 사용하기 때문에, 코드를 명시적으로 작성하기 위해 비교 연산은 등호 두 개(==)를 이용합니다)

In [0]:
# 1에서 2를 더한 결과는 3이므로, 참(True)이 나옵니다.
1 + 2 == 3

True

In [0]:
# 1에서 2를 더한 결과는 4가 아니기 때문에, 거짓(False)이 나옵니다.
1 + 2 == 4

False

프로그래밍 언어는 적은 문법을 다양하게 응용함으로서 동작하는 무언가(=프로그램)를 만들어 냅니다. 다음은 나머지 연산자와 비교 연산자 두 개를 응용한 코드입니다.

In [0]:
# 10을 2로 나눈 나머지는 0이므로 참(True)이 나옵니다. 즉, 이 코드는 짝수와 홀수를 구분하는 용도로 쓰입니다.
10 % 2 == 0

True

In [0]:
# 반면, 11을 2로 나눈 나머지는 0이 아니므로 거짓(False)이 나옵니다.
11 % 2 == 0

False

어떤 경우에는 하나의 조건이 아닌, 두 개 이상의 조건을 중복해서 사용해야 할 경우가 있습니다. 이럴 경우에는 and와 or를 사용합니다.

In [0]:
# 12를 2로 나눈 나머지는 0이고, 마찬가지로 3으로 나눈 나머지도 0입니다. 그러므로 결과는 참(True)이 나옵니다.
12 % 2 == 0 and 12 % 3 == 0

True

In [0]:
# 14는 2로 나눈 나머지가 0이지만, 3으로 나눈 나머지는 0이 아닙니다. 그러므로 결과는 거짓(False)이 나옵니다.
14 % 2 == 0 and 14 % 3 == 0

False

In [0]:
# 반면 or 조건은 둘 중 하나만 참이여도 참이 되기 때문에, 아래의 코드는 결과적으로 참(True)이 출력됩니다.
14 % 2 == 0 or 14 % 3 == 0

True

## 변수

변수를 이용해서 값을 할당할 수 있다. 변수를 할당 할 때는 = 한 개 만 이용합니다. (ex. 변수명 = 값)

In [0]:
# a 변수에 3을 할당 합니다.
a = 3
# b 변수에 5를 할당 합니다.
b = 5

# 변수 a의 값 3과 변수 b의 값 5가 더해져 결과는 8이 나옵니다.
a + b

8

In [0]:
# a에는 3이 b에는 13이 할당 됩니다.
a = 3
b = 13

# 변수 a의 값 3과 변수 b의 값 13가 더해져 결과는 16이 나옵니다.
a + b

16

In [0]:
a = 3

# 변수에 값을 변경하여 다시 할당할 수 있습니다.
# (a의 기존 값 3과 1을 더한 결과 값을 다시 a에 할당합니다.)
a = a + 1

# 참고사항 : 쥬피터 노트북은 가장 마지막의 연산값만 출력합니다. 중간값 출력을 원한다면 print()를 활용하면 됩니다.

# a의 값은 4이므로 4가 출력됩니다.
print(a)

# a는 a의 값 4와 2를 더한 결과 값이 할당됩니다.
a = a + 2
a

4

6

문장을 프로그래밍 언어에서 다룰 수 있습니다. 그리고 그 문장을 문자열이라고 부릅니다.

In [0]:
# 문자열에 " "를 사용하는 이유는 변수(명령어, 예약어 등등)와 헷갈릴수 있기 때문입니다.
"Hello World!"

'Hello World!'

In [0]:
# 문자열에서는 ' '를 사용할 수도 있습니다.
'Hello World!'

'Hello World!'

In [0]:
# " "와 ' ' 둘 다 사용가능한 이유는 문자열에 '을 사용할 수도 있기 때문에 오류를 방지하기 위해서입니다.
"Shayne's Name?"

# 'I say "Hello World!"' 
# ' '를 활용해서 문자열에서 "도 활용이 가능합니다.

"Shayne's Name?"

In [0]:
# jupyter notebook에서는 한 번 변수를 할당하면 파이썬 문장을 지워도 계속 유지 된다. 그래서 오류가 발생할 수 있습니다.
# 헷갈리지 않으려면 다시 시작할 때 menu -> Kernel -> Restart & Clear Output를 하고 다시 실행하면 좋습니다.
# tmp

NameError: name 'tmp' is not defined

In [0]:
# 같은 형의 데이터들 끼리만 연산(+)이 가능합니다. (숫자와 문자는 더할 수 없다.)
# int == integer == 숫자
# str == string == 문자
1 + "2"

# error는 잘 못된 부분을 알려주기 위해서 발생한다. 
# 잘 못된 부분을 알려주지 않으면 다른 사람들과 코딩을 해야는데 서로 알 수가 없어서 힘들어집니다.

# error 상황 시 대처 팁
# 에러가 발생하면 당황하지 말고 에러의 마지막 문장을 천천히 살펴본다. (TypeError: unsupported operand type(s) for +: 'int' and 'str')
# 마지막 문장을 보고 그 위로 올려보면 에러가 발생한 위치를 나타내준다.
# 그래도 안되면 에러의 마지막 문장을 구글에 찾아본다.(unsupported operand type(s) for +: 'int' and 'str'를 찾아본다.)
# stack overflow 라는 사이트에 내용은 믿을만 합니다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [0]:
# 문자 더하기 연산(+)은 문자끼리 붙여준다.
# 문자 '1'과 문자 '2'가 더해서 문자'12'가 결과가 됩니다.
"1" + "2"

'12'

## 포메팅

포메팅은 문자열에 어떤 값을 삽입하는 방법입니다.

In [0]:
# .format()는 지정한 변수의 값을 순서{0},{1}에 맞게 출력해오는 기능입니다.
bananas = 5
days = 3
"Shayne ate {1} bananas for {0} days".format(bananas, days)

'Shayne ate 3 bananas for 5 days'

In [0]:
# 신버전 파이썬의 경우 아래와 같이 축약된 명령어로 대체 가능합니다.
f"Shayne ate {bananas}bananas for {days} days."

'Shayne ate 5bananas for 3 days.'

In [0]:
# 형식을 지정하여 값을 출력할 수 있습니다.
model_a = 0.987654321
model_b = 0.123456789

# f == float == 소숫점
# : 은 특수기능의 시작을 나타내고 .5는 5자리 까지 출력하는 것을 뜻하고 f는 float 소숫점의 숫자를 뜻합니다.(소숫점 5자리 까지 출력이 됩니다.)
# 1:.3f 는 3자리 까지 소숫점을 출력합니다.
"[Accuracy] Model A = {0:.3f} Model B = {1:.5f}".format(model_a, model_b)

'[Accuracy] Model A = 0.988 Model B = 0.12346'

In [0]:
# 위의 코드도 아래와 같이 변경 가능합니다.
f"[Accuracy] Model A = {model_a:.5f} Model B = {model_b:.3f}"

'[Accuracy] Model A = 0.98765 Model B = 0.123'

### 문자열

In [0]:
# mesage에 문자열 "Hello World!"를 할당합니다.
message = "Hello World!"

In [0]:
# 문자열의 n 번째 문자를 출력할 수 있습니다.
# 프로그래밍의 순서는 0부터 시작 합니다.
print(message[0])
print(message[1])
print("----")

# 뒤에서부터 문자를 출력할 때는 -1부터 시작합니다.
print(message[-1])
print(message[-2])

H
e
----
!
d

In [0]:
# 특정 부분만 출력할 수 있습니다.
# : 은 슬라이싱 이라고 합니다.
# 0:4는 0 번째부터 3 번째까지 출력합니다.
message[0:4]

'Hell'

In [0]:
# 문자열에 특정 문자가 있는지 확인 할 수 있습니다.
# 파이썬은 대소문자를 구문합니다.
print("H" in message)
print("h" in message)
print("A" in message)
print("Hell" in message)

True
False
False
True

In [0]:
# 문자열의 특수 기능은 message.를 치고 Tab 키를 누르면 사용할 수 있는 특수 기능 리스트를 확인할 수 있습니다.

# upper() 함수는 모든 문자를 대문자로 변환해주는 함수입니다.
message.upper()

'HELLO WORLD!'

In [0]:
# lower() 함수는 모든 문자를 소문자로 변환해주는 함수입니다.
message.lower()

'hello world!'

### 리스트

똑같은 코드를 반복적으로 짜야할 때 사용하는 기능이고 여러 개의 변수를 하나로 묶어서 표현하는 방법입니다.

In [0]:
# 대괄호[]를 사용합니다.
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [0]:
# 문자열을 다루는 것과 공통점이 많다.

print(odd[0])
print(odd[1])
print("----")

# - 값은 리스트의 뒤에서 부터 순서를 가리킵니다.
print(odd[-1])
print(odd[-2])

1
3
----
9
7

In [0]:
# 0번째부터 3번째까지 출력합니다.
odd[0:4]

[1, 3, 5, 7]

In [0]:
# 리스트에 특정값이 포함되어 있는지 확인할 수 있습니다.
print(1 in odd)
print(2 in odd)
print(3 in odd)

True
False
True

In [0]:
# 리스트에 특정값을 추가할 수 있습니다.
# append 함수는 리스트의 끝에 값을 추가로 저장합니다.
# 실행하는 횟수만큼 추가됩니다.
odd.append(11)
odd

[1, 3, 5, 7, 9, 11]

In [0]:
# 한 번에 여러개의 값을 추가할 수 있습니다.
# +를 이용하여 [13, 15, 17, 19]를 odd에 추가합니다.
odd = odd + [13, 15, 17, 19]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [0]:
# 리스트의 특정 위치의 값을 변경할 수 있습니다.
odd[3] = -1
odd[5] = -1
odd

[1, 3, 5, -1, 9, -1, 13, 15, 17, 19]

In [0]:
# pop 함수는 리스트의 마지막 값을 뽑아냅니다.
odd.pop()
odd

[1, 3, 5, -1, 9, -1, 13, 15, 17]

In [0]:
# 문자열과 리스트는 상호 변환이 가능하다.
# 문자 -> 리스트로 변환
# split 함수는 특정 문자를 기준으로 문자열을 쪼개어 리스트로 변환 시켜줍니다.
message = "Hello World!"
print(message.split(" "))
print(message.split("o"))

['Hello', 'World!']
['Hell', ' W', 'rld!']

In [0]:
# 리스트를 문자로 변환
# join은 split와 반대 되는 함수로 특정 문자로 리스트를 합쳐 하나의 문자열로 만들어줍니다.
words = ["Hello", "World!"]
print(" ".join(words))
print(",".join(words))
print(", ".join(words))

Hello World!
Hello,World!
Hello, World!

### 제어문

In [0]:
# if 제어문: 
#    실행문
# 조건에 따라 값을 출력할 수 있습니다.
age = 3

# age가 5보다 작으면 참(True)이므로 "아이"가 출력됩니다.
# age가 5보다 크면 거짓(False)이므로 "어른"가 출력됩니다.
if age < 5:
    print("아이")
else:
    print("어른")

아이

In [0]:
age = 10

# elif 구문으로 조건을 추가할 수 있습니다.
# elif 는 계속해서 추가하여 조건을 줄 수 있습니다.

# age가 5보다 작으면 "아이"가 출력됩니다.
# age가 5보다 크고 18 보다 작으면 "학생"이 출력됩니다.
# age가 18보다 크면 "어른"이 출력됩니다.
if age < 5:
    print("아이")
elif age < 18:
    print("학생")
else:
    print("어른")

학생

### 반복문

반복되는 기능을 한 줄로 처리하는 방법입니다.

In [0]:
baskets = ['apple', 'banana', 'chicken', 'pineapple', 'cherry']

# basket 리스트에 있는 요소를 꺼내서 for문이 실행됩니다.
for stuff in baskets:
    print(stuff)

# 위 반복문은 아래의 실행문과 결과가 같습니다. 
# stuff = basket[0]
# print(stuff)
# stuff = basket[1]
# print(stuff)
# stuff = basket[2]
# print(stuff)
# stuff = basket[3]
# print(stuff)
# stuff = basket[4]
# print(stuff)
# stuff = basket[5]
# print(stuff)

apple
banana
chicken
pineapple
cherry

In [0]:
# 1부터 5까지 순서대로 실행됩니다.
# 반복문 안에서 제어문을 사용할 수 있습니다.
# 반복문과 제어문은 띄어쓰기가 중요합니다.
for i in range(1, 6):
    
    if i == 2:
        # continue은 해당 루프만 실행하지 않고 다음 루프를 다시 시작합니다.
        continue
    
    if i == 5:
        # 아래와 같이 if문 안에 들여써진 print(i)은 if 문에 포함됩니다.
        # print(i)
        
        # break문은 for 반복문을 종료합니다.
        break
        
    # print(i)은 if 문에 불포함
    print(i)

# range(5) => 0 부터 4 까지
# range(1,5) => 1 부터 4 까지
# range(1,6) => 1 부터 5 까지

1
3
4

In [0]:
double_list = []

for i in range(1, 11):
    
    # i가 5이면 현재 루프를 중단하고 다음 루프로 간다.
    if i == 5:
        continue
    
    # i가 8이면 for 문이 끝난다.
    if i == 8:
        break
    
    # i 값에 2를 곱하여 결과를 double에 할당하고 doublie_list에 추가합니다.
    double = i * 2
    double_list.append(double)

double_list

[2, 4, 6, 8, 12, 14]

## 함수

함수는 많고 복잡한 코드를 하나로 묶어주는 기능 입니다.

In [0]:
# def == define 특정 함수를 정의합니다.
def multiply(a, b):
    c = a * b
    return c

# multiply(1, 2)은
# a에는 2를 할당, b에는 3을 할당
# a + b의 값를 c에 할당하고 
# 반환 시켜준다.
print(multiply(1, 2))
print(multiply(2, 3))

2
6

In [0]:
def sign(n):
    if n > 0:
        return "양수"
    elif n < 0:
        return "음수"
    else:
        return "0"

for n in [-1, 0, +1]:
    print(sign(n))

음수
0
양수

### 팩토리얼
  * 3! = 3 x 2 x 1 = 6
  * 4! = 4 x 3 x 2 x 1 = 24
  * 5! = 5 x 4 x 3 x 2 x 1 = 120

In [0]:
# factorial 함수를 정의합니다.
def factorial(n):
    # result 변수에 1을 할당합니다.
    result = 1
    
    # 반복문을 이용해서 1 부터 n까지를 반복합니다..
    for i in range(1, n + 1):
        # result값과 i값을 곱하여 result에 할당합니다.
        result = result * i
    
    # result 값을 반환합니다.
    return result

print(factorial(3))
print(factorial(4))
print(factorial(5))

6
24
120